<md-toolbar color="primary">
    <span><a [routerLink]="['/home']" class="navbar-brand white-link">App Name</a></span>
    <span class="example-spacer"></span>
    <a md-button [routerLink]="['/home']"><span class="fa fa-home"></span></a>
    <a md-button [routerLink]="['/about']" routerLinkActive="active">About</a>
    <a md-button [routerLink]="['/http']" routerLinkActive="active">REST</a>
    <a md-button [routerLink]="['/notfound']" routerLinkActive="active">Not Found Page</a>
    <a md-button><i class="fa fa-star-o" aria-hidden="true"></i></a>
    <a md-button><i class="fa fa-trash" aria-hidden="true"></i></a>
</md-toolbar>
