/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/it-mlaf-sass/it-mlaf';

html {
    font-family: $font-family-sans-serif !important;
    position: relative;
    height: auto;
    min-height: $min-height;
}

body {
    position: static;
    height: auto;
    margin: $body-margin; /* bottom = footer height */
}
